<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
    <title>Кубок Нижнего Новгорода</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <h1>Кубок Нижнего Новгорода по математике</h1>
            {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.name + " " +  current_user.surname}}</a>
            {% else %}
            <p>
                <button class="btn btn-primary" data-target="#sign-up-modal" data-toggle="modal">Регистрация</button>
                <button class="btn btn-success" data-target="#login-modal" data-toggle="modal">Вход</button>
            </p>
            {% endif %}
        </nav>
    </header>
    <!-- Begin page content -->
    <div class="modal fade" id="login-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Авторизация</h4>
                    <btn class="btn btn-close" data-dismiss="modal">&times;</btn>
                </div>
                <div class="modal-body">
                    <form action="" method="post" novalidate>
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.login.label }}
                            {{ form.login(class="form-control") }}<br>
                            {% for error in form.login.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.password.label }}
                            {{ form.password(class="form-control", type="password") }}<br>
                            {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">{{ form.remember_me() }} {{ form.remember_me.label }}</div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                    {{ form.submit(type="submit", class="btn btn-success") }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="sign-up-modal" tabindex="-2">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Регистрация</h4>
                    <btn class="btn btn-close" data-dismiss="modal">&times;</btn>
                </div>
                <div class="modal-body">
                    <form>
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.login.label }} {{ form.login(class="form-control") }}<br>
                            {% for error in form.login.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }} {{ form.password(class="form-control", type="password") }}<br>
                            {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.repeat_password.label }} {{ form.repeat_password(class="form-control", type="password") }}<br>
                            {% for error in form.repeat_password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.surname.label }} {{ form.surname(class="form-control") }}<br>
                            {% for error in form.surname.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.name.label }} {{ form.name(class="form-control") }}<br>
                            {% for error in form.name.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.num_of_class.label }} {{ form.num_of_class(class="form-control") }}<br>
                            {% for error in form.num_of_class.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                    {{ form.submit(type="submit", class="btn btn-primary") }}
                </div>
            </div>
        </div>
    </div>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        document.getElementById('test').addEventListener('click', () => toastr.success('Ваш ответ на задачу 1-1 верен. Вы получили 2 балла.'))
    </script>
</body>
</html>