{% extends "base.html" %}

{% block content %}
<div class="header-content-inner">
    <h1>Получить задачу</h1>
    <p></p>
</div>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.num_task.label }}<br>
        {{ form.num_task(class="form-control") }}<br>
        {% for error in form.num_task.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}